/* global.css */

body {
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #dbdcdf;
}

h1 {
  font-size: 2.5rem;
  color: #dbdcdf;
}

h2 {
  font-size: 2rem;
  color: #dbdcdf;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #dbdcdf;
}

ul,
ol {
  padding-left: 1.5rem;
  color: #dbdcdf;
}

a {
  color: blue;
  text-decoration: underline;
}

button {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
